.section-header {
  height: 80px;
  box-shadow: inset 0 1px 0 0 $mainBoxShadow;
  background-image: linear-gradient(90deg, $bgGray 0%, $bgWhite 98.61%);

  @media (min-width: 768px) {
    height: 56px;
    box-shadow: inset 0 1px 0 0 $mainBoxShadow;
    background-image: linear-gradient(90deg, $bgGray 1.39%, $bgWhite 100%);
  }

  &__title {
    margin: 16px;
    font-family: "TT Lakes Regular", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $grayColorText;
    text-transform: uppercase;

    @media (min-width: 768px) {
      margin-left: 24px;
    }

    @media (min-width: 1440px) {
      margin-left: 32px;
    }
  }
}
