.commercial-order-description {

  &>span {
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $blackColorText;
  }

  @media (min-width: 768px) {
    width: 437px;
  }
}
