.get-commercial-order {
  margin-top: 16px;

  &__link {
    font-family: "TT Lakes Medium", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $blackColorText;

    &:hover {
      cursor: pointer;
    }
  }

  &>.brand-circle-button {
    border: none;
    transform: translate(94px, -30px) scale(0.69, 0.8);

    @media (min-width: 768px) {
    	transform: translate(284px, -30px) scale(0.69, 0.8);
    }
  }
}
