.submit-request {
  margin-right: 8px;
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: $blackColorText;
  text-decoration: none;
}