.modal-call {
  transition-property: left;
  transition-duration: 1s;

  & .order-service {
    top: 306px;
    right: 16px;

    @media (min-width: 768px) {
      right: 32px;
      top: 224px
    }
  }
}
