.device-type-title {
  align-self: flex-start;
  margin-left: 16px;
  font-family: "TT Lakes Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.2 px;
  color: $blackColorText;
}
