.price-row {
  display: flex;
  align-items: center;
  position: relative;
  height: 64px;
  border-top: 1px solid $buttonBorder;

/*  @media (min-width: 1440px) {
    margin-left: 24px;
    margin-right: 24px;
  }*/

  &:first-child {
    border-top: none;
  }

  &>span {

    &:first-child {
      width: 50.5%;
      padding-left: 16px;

      @media (min-width: 1440px) {
        width: 46.8%;
        padding-left: 24px;
      }
    }

    &:nth-child(2) {
      width: 12.5%;

      @media (min-width: 1440px) {
        width: 21.5%;
      }
    }

    &:nth-child(3) {
      width: 13.5%;

      @media (min-width: 1440px) {
        width: 25%;
      }
    }
  }

  &>.order-service {
    left: 78%;

    @media (min-width: 1440px) {
      left: 84.2%;
    }
  }
}
