.price-row {
  display: flex;
  align-items: center;
  position: relative;
  height: 64px;
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid $buttonBorder;

  @media (min-width: 1440px) {
    margin-left: 24px;
    margin-right: 24px;
  }

  &:first-child {
    border-top: none;
  }

  &>span {

    &:first-child {
      width: 372px;

      @media (min-width: 1440px) {
        width: 470px;
      }
    }

    &:nth-child(2) {
      width: 96px;

      @media (min-width: 1440px) {
        width: 227px;
      }
    }

    &:nth-child(3) {
      width: 101px;
    }
  }

  &>.order-service {
    left: 569px;

    @media (min-width: 1440px) {
      left: 889px;
    }
  }
}
