.more {
  background-color: $bgGray;
  border: none;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  padding: 0;
}

@media (min-width: 768px) {
  .more {
    background-color: $bgGray;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .more {
    background-color: $bgGray;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
    padding: 0;
  }
}