.summary {
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $blackColorText;
  display: none;
  width: 125px;
  margin-left: 24px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &.about-summary {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;

    @media (min-width: 768px) {
      margin-top: 10px;
      margin-left: 32px;
    }

    @media (min-width: 1440px) {
      margin-top: 14px;
      margin-left: 39px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    margin-left: 32px;
    height: 24px;
  }

  @media (min-width: 1440px) {
    display: flex;
    margin-left: 39px;
    height: 24px;
  }
}
