.modal-feedback {
  transition-property: right;
  transition-duration: 1s;

  & .order-service {
    top: 569px;
    right: 16px;

    @media (min-width: 768px) {
      right: 32px;
      top: 493px
    }
  }
}
