.modal-title-container {
  position: relative;
  margin-top: 40px;

  &>.highlight {
    position: absolute;
    top: -8px;
    left: -16px;
  }

  @media (min-width: 768px) {
  	margin-top: 0;
  }
}
