.brands-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  background-color: $bgGray;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 768px;
    min-height: 322px;
    background-color: $bgGray;
  }

  @media (min-width: 1440px) {
    width: 1120px;
  }
}
