.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0 1px 0 0 $mainBoxShadow;
  background-color: $bgGray;
  padding-bottom: 19px;

  @media (min-width: 768px) {
  	flex-direction: row;
  	justify-content: space-between;
  	padding: 32px 24px 25px 24px;
  	align-items: flex-start;
  }

  @media (min-width: 1440px) {
  	flex-direction: row;
  	justify-content: space-between;
  	padding: 32px 32px 21px 32px;
  	align-items: flex-start;
  }

  &>div {
    margin-top: 16px;
  }

  & p {
    margin: 0;
    font-family: "TT Lakes Regular", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $grayColorText;
    opacity: 0.72;
  }

  & a {
    font-family: "TT Lakes Regular", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $grayColorText;

    &:hover {
    	cursor: pointer;
    }
  }
}
