.legal-agreement {
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $grayColorText;

  &__link {
  	color: $bgButton;
  }
}
