.price-list-container {
  display: none;
  margin: auto;
  border-radius: 6px;

  @media (min-width: 768px) {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
  }

  @media (min-width: 1440px) {
  	margin-left: 32px;
    margin-right: 32px;
  }
}
