.fading-right {
  position: absolute;
  width: 24px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 2;
}