.button-info {
  height: 40px;
  font-family: "TT Lakes Medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $grayColorText;
  white-space: nowrap;
  padding: 6px;
  background-color: $bgGray;
  border: 2px solid transparent;
  transition-property: border, background-color;
  transition-duration: 1s;

  &:hover {
    background-color: $bgWhite;
    border: 2px solid $tabBorder;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px;
  }

  &:focus,
  &:active {
    background-color: $bgWhite;
    border: 2px solid $tabBorder;
    border-radius: 6px;
    padding: 6px;
  }
}
