$bgWhite: #FFFFFF;
$bgGray: #F8F8F8;
$bgButton: #FF3E79;
$bgHighlight: #41F6D7;
$tabBorder: #B8FFEC;
$buttonBorder: #EAEAEA;
$blackColorText: #1B1C21;
$grayColorText: #7E7E82;
$bullets: #DDDDDD;
$bulletsHover: #B5B6BC;
$mainBoxShadow: #D9FFF5;
