.about-image {
  background-image: url("../img/mg_3223_320x176.png");
  height: 176px;
  width: 320px;

  @media (min-width: 768px) {
    height: 208px;
    width: 360px;
    margin-right: 24px;
    background-image: url("../img/mg_3223_360x208.png");
  }

  @media (min-width: 1440px) {
    background-image: url("../img/mg_3223_532x307.png");
    height: 307px;
    width: 532px;
  }
}
